<!--<section class="property-binding">

  <article>
    <h3>Interpolação</h3>
    <p>String rendenizada com interpolção: {{ url }}</p>
    <p>Resultado de 1 + 1 é: {{ 1+1 }}</p>
    <p>Resultado de 1 + 1 não é: {{ 1 + 1 + getValor() }}</p>
    <p>Curso de Angular é bom? {{ getCurtiCurso() }}</p>
  </article>

  <article>
    <h3>Property Bindyng</h3>
    <img src="{{ urlImagem }}"> <br>
    <img [src]= "urlImagem" >
  </article> -->


  <!--<article>
    <h3>Class e Style Binding</h3>
    <div>
      Selecione uma classe:

      <select #variavelLocal (change)="0">
        <option value="alert-success">Sucesso</option>
        <option value="alert-danger">Danger</option>
        <option value="alert-warning">Warning</option>
        <option value="alert-info">Info</option>
      </select>
      <br><br>

      <div class="alert {{ variavelLocal.value }}" role="alert">
        Texto colorido conforme valor do combobox.
      </div>

      <div class="alert" role="alert" [class.alert-success]="variavelLocal.value == 'alert-success'">Sucesso</div>
      <div class="alert" role="alert" [class.alert-danger]="variavelLocal.value == 'alert-danger'">Danger</div>
      <div class="alert" role="alert" [class.alert-warning]="variavelLocal.value == 'alert-warning'">Warning</div>
      <div class="alert" role="alert" [class.alert-info]="variavelLocal.value == 'alert-info'">Info</div>

      <div class="alert alert-danger" role="alert" [style.display]="variavelLocal.value == 'alert-danger' ?'block' : 'none'">Esse texto só aparece em caso de erro</div>
    </div>
  </article>-->


  <!--<article>
    <h3>Event Binding</h3>
    <a href="https://developer.mozilla.org/pt-BR/docs/Web/Events" target="_blank" style="text-decoration: none; color: rgba(255, 0, 0, 0.527);">Lista de Eventos</a>
    <div>
      <button (click)="botaoClicado()" class="btn btn-dark">Me clique!</button>

      <br><br>

      <input type="text"
      (keyup)="digitou($event)"
      (keyup.enter)="salvarValor($event)"
      (blur)="salvarValor($event)"#campoInput>


      <p>Valor Atual do Input: {{ valorAtual }}</p>
      <p>Valor Atual do Input: {{ valorSalvo }}</p>

      <br><br>

      <span
      (mouseover)="onMouseOverOut()"
      (mouseout)="onMouseOverOut()"
      [class.highlight]="isMouseOver"
      >Passe o mouse sobre mim</span>

    </div>
  </article>
  </section>-->

  <app-meu-form></app-meu-form>
